@charset "utf-8";
*{padding:0;margin: 0}
.wrapper{
    width: 500px;
    text-align: center;
}
.head{
    width: 310px;
    height: 310px;
    margin: 35px auto 0 auto;
    border: 2px solid #333;
    border-radius: 46% 46% 50% 50%;
    background: linear-gradient(to top right,#0BB1DA,#87DFF5);
    background: -webkit-gradient(radial, 90% 10%, 0, 90% 20%, 100, from(#87DFF5), to(#0BB1DA));
}
.eyes{
    text-align: center;
    font-size: 0;
    transform: translateY(-45%);
}
.eyes>div{
    width: 75px;
    height: 85px;
    border: 2px solid #000000;
    border-radius: 35px;
    box-sizing: border-box;
    background: white;
    display: inline-block;
    position: relative;
}
.eyes>.left{
    margin-right: -2px;
}
.eyes .pupil{
    width: 15px;
    height:15px;
    background: #000000;
    border-radius: 48%;
    position: absolute;
}
.eyes>.left>.pupil{
    bottom: 15px;
    right: 10px;
}
.eyes>.right>.pupil{
    bottom: 15px;
    left: 10px;
}
.face{
    width: 264px;
    height: 205px;
    margin-top: 85px;
    background: white;
    display: inline-block;
    border-radius: 44% 44% 50% 50%;
    border: 2px solid #000000;
    position: relative;
}
.nose{
    display: inline-block;
    width: 36px;
    height: 36px;
    border: 2px solid #000000;
    border-radius: 49%;
    background: #C93E00;
    position: absolute;
    top: 32px;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
}
.noseLight{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: 19px 8px 5px #fff;
}
.mouth{
    display: inline-block;
    position: absolute;
    top: 68px;
    left: 50%;
    margin-left: -2px;
}
.mouth>.line{
    width: 3px;
    height: 87px;
    background: #333333;
}
.smileWrap{
    position: relative;
    right: 50%;
    top: -33px;
    width: 240px;
    height: 35px;
    overflow: hidden;
}
.smile{
    width: 240px;
    height: 240px;
    border-bottom: 3px solid #333;
    border-radius: 120px;
    position: absolute;
    bottom: 0;
}
.beard{
    position: absolute;
    top: 60px;
    width: 100%;
    font-size: 0;
}
.beard>div{
    width: 50%;
    text-align: center;
    display: inline-block;
}
div.lineWrapper{
    display: inline-block;
}
.beard div.lineWrapper>div{
    width: 60px;
    height: 2px;
    background: #333333;
    margin-bottom: 18px;
}
.beard div.lineWrapper>div:last-child{
    margin-bottom: 0;
}
.left .lineWrapper>.topLine{
    transform: rotate(200deg);
}
.left .lineWrapper>.bottomLine{
    transform: rotate(160deg);
}
.right .lineWrapper>.topLine{
    transform: rotate(-20deg);
}
.right .lineWrapper>.bottomLine{
    transform: rotate(20deg);
}
.neck{
    width: 235px;
    height: 24px;
    background: -webkit-linear-gradient(top, #ca4100, #800400);
    border: 2px solid #000000;
    border-radius: 10px;
    margin: 35px auto 0 auto;
    position: relative;
    top: -80px;
}
.jingle{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 2px solid #000000;
    background: #EBE31C;
    z-index: 11;
    position: absolute;
    top: 35%;
    left: 50%;
    margin-left: -23px;
    box-sizing: border-box;
}
.jingle>.jingleLight{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: 24px 4px 5px #fff;
}
.jingle>.doubleLine{
    width: 40px;
    height: 6px;
    border:2px solid #333333;
    box-sizing: border-box;
    position: absolute;
    top: 8px;
    left: 1px;
}
.jingle>.point{
    width: 12px;
    height: 10px;
    background: #000000;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -6px;
}
.jingle>.pointLine{
    width: 3px;
    height: 11px;
    background: #000000;
    position: absolute;
    top: calc(50% + 10px);
    left: 50%;
    margin-left: -2px;
}
.hand{
    width: 400px;
    margin: 0 auto;
    font-size: 0;
}
.hand>div{
    display: inline-block;
    height: 50px;
    background: #07BEEA;
    position: relative;
    top: -80px;
}
.hand>.right,.hand>.left{
    width: 80px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    position: relative;
    box-sizing: border-box;
}
.hand>.left{
    transform: rotate(-35deg);
    left: 21px;
    top: -62px;
    background: -webkit-linear-gradient(top left, #0096be, #0096be 55%);;
}
.hand>.right{
    transform: rotate(35deg);
    right: 21px;
    top: -62px;
}
.finger{
    position: absolute;
    width: 64px;
    height: 64px;
    top: 50%;
    margin-top: -43%;
    border: 2px solid #000000;
    border-radius: 48%;
    background: white;
}
.hand>.left>.finger{
    left: -50%;
}
.hand>.right>.finger{
    right: -50%;
}
.hand>.middle{
    width: 220px;
    background: -webkit-linear-gradient(right, #07beea, #0073b3 50%,#0096be 75%,#00b0e0 ,#0096be 100% ,#333 114%);
    z-index: 10;
    position: relative;
}
.pocketWrapper{
    height: 130px;
    width: 174px;
    position: absolute;
    left: 50%;
    margin-left: -87px;
    overflow: hidden;
}
.pocketWrap{
    width: 174px;
    height: 174px;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 50%;
    background: white;
    position: absolute;
    bottom: 0;
}
.halfPocketWrap{
    position: absolute;
    bottom: 15px;
    left: 50%;
    margin-left: -67px;
    height: 67px;
    width: 134px;
    overflow: hidden;
    border-top: 2px solid #333;
}
.pocket{
    width: 134px;
    height: 134px;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
}
.body{
    position: relative;
    top: -115px;
    width: 220px;
    height: 110px;
    margin: 35px auto 0 auto;
    background: -webkit-linear-gradient(right, #07beea, #0073b3 50%,#0096be 75%,#00b0e0 ,#0096be 100% ,#333 114%);
    border: 2px solid #333333;
    border-top: none;
}
.foot{
    position: relative;
    top: -115px;
    width: 262px;
    margin: 0 auto;
    font-size: 0;
    margin-top: -2px;
}
.foot>.middleWrapper{
    width: 24px;
    height: 12px;
    position: absolute;
    left: 50%;
    top: -12px;
    margin-left: -12px;
    overflow: hidden;
    padding-top: 2px;
}
.foot div.middle{
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border: 2px solid #333;
    border-radius: 50%;
    box-sizing: border-box;
    background: white;
}
.foot>div.left,.foot>.right{
    display: inline-block;
    width: 129px;
    height: 34px;
    border: 2px solid #333333;
    box-sizing: border-box;
}
.foot>div.left{
    margin-right: 4px;
    border-radius: 24px 17px 17px 10px;
}
.foot>.right{
    border-radius: 17px 24px 10px 17px;
}
